<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.steven.smarteating">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
     spotLocationtion permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NutritionShow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Nurtition Facts" />
        <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".activity.ReplacementRanks"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Replacments" />
        <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".activity.NutritionFactsShow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Micronutrients" />
        <!--android:theme="@style/AppTheme.NoActionBar" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-Woam0VHTBfdysWyurnx9NE922P26Doc" />

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".activity.MapsActivity"
            android:label="Fresh Markets" />
        <activity
            android:name=".activity.CommunityMapsActivity"
            android:label="Community Gardens" />
        <activity
            android:name=".activity.FiveGroupsShow"
            android:label="Five Food Group" />
        <activity
            android:name=".activity.GroupFruitShow"
            android:label="Fruits" />
        <activity
            android:name=".activity.GroupGrainShow"
            android:label="Grains" />
        <activity
            android:name=".activity.GroupMeatShow"
            android:label="Lean Meats" />
        <activity
            android:name=".activity.EatenSuggestion"
            android:label="Recommended Intakes" />
        <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".activity.GroupMilkShow"
            android:label="Milk" />
        <activity
            android:name=".activity.GroupVegetableShow"
            android:label="Vegetables" />
        <activity
            android:name=".activity.PlantingSuggestion"
            android:label="Grow Your Vegetables" />
        <activity
            android:name=".activity.PlantsItemShow"
            android:label="Grow your Vegetables" />
        <activity
            android:name=".activity.EatenKnowledge"
            android:label="Fat,Salt,Sugars and Alcohol" />
        <activity
            android:name=".activity.QuizActivity"
            android:label="Nutrition Quiz" />
        <activity
            android:name=".activity.QuizResultShow"
            android:label="Quiz Result" />
        <activity
            android:name=".activity.AboutSmartEating"
            android:label="About SmartEating" />
    </application>

</manifest>